{% extends "index.html" %}

{% block title %}
  Change Hotel Description
{% endblock %}

{% block logout %}
<a class="bg-txt text-white w-28 h-12 rounded-full flex justify-center items-center font-semibold hover:shadow-lg hover:text-primary" href="{{ url_for('logout') }}">Logout</a>
{% endblock %}

{% block content %}
<div class="container mx-auto">
    <h2 class="text-2xl font-bold mb-4">Change Hotel Details</h2>
    {% if error %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Error:</strong>
        <span class="block sm:inline">{{ error }}</span>
    </div>
    {% endif %}
    <form action="/change_hotel_details" method="post">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="new_hotel_name">New Hotel Name:</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="new_hotel_name" name="new_hotel_name" type="text" placeholder="New Hotel Name">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="new_hotel_location">New Hotel Location:</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="new_hotel_location" name="new_hotel_location" type="text" placeholder="New Hotel Location">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="new_destination_id">New Hotel Destination:</label>
            <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="new_destination_id" name="new_destination_id" required>
                {% for destination in destinations %}
                <option value="{{ destination.destination_id }}">{{ destination.destination_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Change Hotel Details
            </button>
            <a class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{{ url_for('profile') }}">Go to Profile</a>
        </div>
    </form>
</div>
{% endblock %}
