{% extends "index.html" %}

{% block title %}
    Date Selection
{% endblock %}

{% block style %}
    <style>
         body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .container {
            width: 500px !important;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .container h1 {
            font-size:larger ;
            text-align: center;
            margin-bottom: 30px;
        }

        .container a{
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #7E42F1;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 10px;
            text-align: center;
        }

        .container a:hover{
            background-color: #4d06d0;
        }

        .dropdown {
            width: 100%;
            margin-bottom: 20px;
        }

        .dropdown select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            font-size: 16px;
        }

        .btn-submit {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #7E42F1;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
        }

        .btn-submit:hover {
            background-color: #4d06d0;
        }

        input[type="date"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .center{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .flash-message {
            width:200px; /* 100% of the viewport width */
            background-color: #007bff; /* Change to your desired background color */
            color: #fff; /* Change to your desired text color */
            padding: 10px 20px;
            margin: 5px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            text-align: center;
        }

    </style>
{% endblock %}

{% block logout%}
<a class="bg-txt text-white w-28 h-12 rounded-full flex justify-center items-center font-semibold hover:shadow-lg hover:text-primary" href="{{url_for('logout')}}">Logout</a>
{% endblock %}
  
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}

        {% for message in messages %}
            <div class='center'><div class = 'flash-message'>{{ message }}</div></div>
        {% endfor %}
        
    {% endif %}
{% endwith %}

<div class="container">
    <h1>Tour Reservation</h1>
    <form action="/select_date" method="POST">
        <input type="hidden" name="destination" value="{{ destination }}">
        <input type="hidden" name="hotel" value="{{ hotel }}">
        <input type="hidden" name="transport" value="{{ transport }}">
        <input type="hidden" name="room" value="{{ room }}">
        <label for="arrival_date">Arrival Date:</label>
        <input type="date" name="arrival_date">
        <label for="departure_date">Departure Date:</label>
        <input type="date" name="departure_date">
        <button type="submit" class="btn-submit">Submit</button>
    </form>
 
    <a href="{{url_for('profile')}}">Back to Profile</a>
</div>

{% endblock %}
